<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Akıllı Tarım Sistemi</title>
    <link rel="icon" type="image/png" href="~/Content/favicon.png" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Dashboard">
                <div class="sidebar-brand-icon">
                    <i class="fab fa-envira"></i>
                </div>
                <div class="sidebar-brand-text mx-3">AKILLI TARIM SİSTEMİ</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Anasayfa -->
            @if (ViewBag.Title == "Anasayfa")
            {
                <li class="nav-item active">
                    <a class="nav-link" href="/Dashboard">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Dashboard">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>
            }

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Bölüm 1
            </div>
            <!-- Nav Item - Katlanabilir Test -->
            @*@if (ViewBag.Title == "Test")//BURAYA OR EKLENEBİLİR
            {
                <li class="nav-item active">
                    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Sayfalar</span>
                    </a>
                    <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Test Sayfaları:</h6>
                            @if (ViewBag.Title == "Test")//aktifleştir
                            {
                                <a class="collapse-item active" href="/Test">Test</a>
                            }
                            else
                            {
                                <a class="collapse-item" href="/Test">Test</a>
                            }
                            <div class="collapse-divider"></div>
                            <h6 class="collapse-header">Diğer Sayfalar:</h6>
                            <a class="collapse-item" href="404.html">404 Page</a>
                            <a class="collapse-item" href="blank.html">Blank Page</a>
                        </div>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Sayfalar</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Test Sayfaları:</h6>
                            <a class="collapse-item" href="/Test">Test</a>
                            <div class="collapse-divider"></div>
                            <h6 class="collapse-header">Diğer Sayfalar:</h6>
                            <a class="collapse-item" href="404.html">404 Page</a>
                            <a class="collapse-item" href="blank.html">Blank Page</a>
                        </div>
                    </div>
                </li>
            }*@
            <!-- Nav Item - Cihazlar -->
            @if (ViewBag.Title == "Cihazlar")
            {
                <li class="nav-item active">
                    <a class="nav-link" href="/Devices">
                        <i class="fas fa-fw fa-microchip"></i>
                        <span>Cihazlar</span>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Devices">
                        <i class="fas fa-fw fa-microchip"></i>
                        <span>Cihazlar</span>
                    </a>
                </li>
            }
            <!-- Nav Item - Programlar -->
            @if (ViewBag.Title == "Programlar")
            {
                <li class="nav-item active">
                    <a class="nav-link" href="/Schedules">
                        <i class="fas fa-fw fa-calendar"></i>
                        <span>Programlar</span>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Schedules">
                        <i class="fas fa-fw fa-calendar"></i>
                        <span>Programlar</span>
                    </a>
                </li>
            }

            <!-- Nav Item - Tetikler -->
            @if (ViewBag.Title == "Tetik Eylemler")
            {
                <li class="nav-item active">
                    <a class="nav-link" href="/Triggers">
                        <i class="fas fa-fw fa-bolt"></i>
                        <span>Tetik Eylemler</span>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Triggers">
                        <i class="fas fa-fw fa-bolt"></i>
                        <span>Tetik Eylemler</span>
                    </a>
                </li>
            }

            <!-- Nav Item - Geçmiş Ölçümler -->
            @if (ViewBag.Title == "Geçmiş Ölçümler")
            {
                <li class="nav-item active">
                    <a class="nav-link" href="/Measurements">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Geçmiş Ölçümler</span>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Measurements">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Geçmiş Ölçümler</span>
                    </a>
                </li>
            }

            <!-- Nav Item - Login -->
            @*<li class="nav-item">
                <a class="nav-link" href="/Login">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Login Sayfası</span>
                </a>
            </li>*@

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewBag.Username</span>
                                <img class="img-profile rounded-circle" src="~/Content/img/avatar.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıkış Yap
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-1 text-gray-800">@ViewBag.Title</h1>
                    @if (ViewBag.Description != null)
                    {
                        <p class="mb-4">@Html.Raw(ViewBag.Description)</p>
                    }
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Smart Agriculture System 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Çıkış yap?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Varolan oturumunuz sonlandırılacaktır.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
                    <a class="btn btn-primary" href="/Dashboard/Logout">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/Content/js/sb-admin-2.min.js"></script>
</body>
</html>

